body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.logo {
  margin: 10px 50px;
}

.logo img {
  height: 40px;
  width: 40px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

.nav__item.is-active .nav__link {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 18px;
}

.nav__item :hover {
  color: #007bff;
}
